<%- include("../_layouts/header") %>

<div class="row">
    <h1>Đăng tin tìm việc</h1>
    <form method="POST" action="/timViec/signUp">
        <div class="form-group">
            <p>Ngành nghề:</p>
            <select name="nameNganh">
                <% pageNganh.forEach(function(index) { %> 
                <option value="<%=index.nameNganh%>"><%=index.nameNganh%></option>
               <% }) %> 
            </select>
        </div>
        <div class="form-group">
            <p>Tên:</p>
            <input type="text" name="myName" class="form-control" placeholder="Họ và tên" required />
        </div>
        <div class="form-group">
            <p>Vị trí tuyển dụng:</p>
            <input type="text" name="viTri" class="form-control" placeholder="Vị trí tuyển dụng" required />
        </div>
        <div class="form-group">
            <p>Giới thiệu bản thân:</p>
            <textarea name="gioiThieu" placeholder="Giới thiệu bản thân" class="form-control" minlength="5" required></textarea>
        </div>
        <div class="form-group">
            <p>Mức lương Tối thiểu:</p>
            <input type="number" name="luong" placeholder="Nhập mức lương tối thiểu" class="form-control" required />
        </div>
        <div class="form-group">
            <p>Điện thoại liên hệ:</p>
            <input type="number" name="sdt" placeholder="Nhập số điện thoại" class="form-control" required />
        </div>
        <div class="form-group">
            <p>Thời gian làm việc:</p>
            <select name="time">
                <option value="partTime">Part-time</option>
                <option value="fullTime">Full-time</option>
            </select>
        </div>
        <button type="submit">Đăng tin</button>
    </form>
</div>

<%- include("../_layouts/footer") %>